.titulo {
    text-align: left;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 7vh;
}

.temp {
    text-align: right;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 13vh;
    margin-right: 30%;
}

.tempSec {
    text-align: right;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 6vh;
    margin-right: 30%;
}

.titulo-app {
    text-align: center;
    color: white;
    font-family: 'Tilt Neon', cursive;
    font-weight: bold;
}

body {
    background-image: url(img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    height: 11.5vh;
    border-radius: 5%;
    margin-top: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.687), rgba(255, 255, 255, 0.872));
}

.card-body {
    height: 13.5vh;
    padding: 0;
    width: 13.5vh;
}

.card-title {

    text-align: center;
    color: black;
    font-size: 3vh;
    font-weight: bolder;
    font-size: medium;
}

.temperatures {
    padding-top: 1.5vh;
}

.icono {

    height: 5vh;
    width: 5vh;
    opacity: 1;
}

hr {
    margin: 0;
}

.temper {
    padding: 0;
}

@media (min-width:801px) {}

@media only screen and (max-width: 600px) {

    .titulo-app {
        font-size: 3vh;
    }

    .titulo {
        font-size: 4vh;
    }

    .temp {
        font-size: 5vh;
        text-align: left;
    }

    .tempSec {

        font-size: 3vh;
        text-align: left;
    }

    .card {
        height: 7vh;
        padding: 0;
    }

    .card-body {
        height: 7.5vh;
        padding: 0;
        width: max-content;
    }

    .icono {
        height: 2.1vh;
        width: 2.1vh;

    }

    .card-title {

        color: black;
        font-size: 1.5vh;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    .row {
        padding: 0;

    }

    hr {
        margin: 0;
    }

    .temper {
        padding: 0;
    }

    .temperatures {
        padding-top: 0vh;
    }
}

@media only screen and (max-width: 1025px) {

    .titulo-app {
        font-size: 3vh;
    }

    .titulo {
        font-size: 4vh;
    }

    .temp {
        font-size: 5vh;
        text-align: left;
    }

    .tempSec {

        font-size: 3vh;
        text-align: left;
    }

    .card {
        height: 7vh;
        padding: 0;
    }

    .card-body {
        height: 7.5vh;
        padding: 0;
        width: max-content;
    }

    .icono {
        height: 2.1vh;
        width: 2.1vh;

    }

    .card-title {

        color: black;
        font-size: 1.5vh;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    .row {
        padding: 0;

    }

    hr {
        margin: 0;
    }

    .temper {
        padding: 0;
    }

    .temperatures {
        padding-top: 0vh;
    }
}

